body {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main h1 {
  display: inline-block;
  margin-bottom: 26px;
  font-family: var(--font-display);
  font-size: 256px;
  line-height: 256px;
  color: var(--color-orange-primary);
  text-shadow: var(--text-shadow-orange-medium);
  user-select: none;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-6xl) var(--space-9xl);
  font-family: var(--font-primary);
  font-size: var(--space-3xl);
  color: var(--color-text-dark-on-orange);
  background-color: var(--color-orange-primary);
  border: var(--border-width-md) solid var(--color-orange-dark);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
}

#sign-up-error {
  margin-bottom: var(--space-xs);
  padding: var(--space-sm) var(--space-lg);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-blue-dark-dashboard);
  background-color: var(--color-blue-primary);
  border: var(--border-width-md) solid var(--color-blue-dark-dashboard);
  border-radius: var(--border-radius-sm);
}

#sign-up-form {
  width: 512px;
  height: 640px;
}

#login-form {
  width: 512px;
  height: 480px;
}

main form label {
  width: 100%;
}

main form input {
  width: 100%;
}

main form input[type="submit"] {
  margin-top: var(--space-5xl);
}

main form p {
  font-family: var(--font-primary);
  font-size: var(--space-lg);
  font-weight: 400;
}

main a,
main a:visited {
  color: var(--color-link-auth);
  transition: var(--transition-color);
}

main a:hover {
  color: var(--color-link-auth-hover);
}

.blue-box {
  width: 20%;
  height: 100%;
  background-color: var(--color-blue-primary);
}

.blue-box:first-child {
  border-right: var(--border-width-md) solid var(--color-blue-dark-dashboard);
}

.blue-box:not(:first-child) {
  border-left: var(--border-width-md) solid var(--color-blue-dark-dashboard);
}

@media only screen and (max-height: 1024px) {
  main form {
    padding: var(--space-3xl) var(--space-5xl);
  }

  #sign-up-form {
    height: 512px;
  }

  main form input[type="submit"] {
    margin-top: var(--space-2xl);
  }

  main form input:not([type="submit"]) {
    margin-bottom: var(--space-xs);
  }
}

@media only screen and (max-width: 1024px) {
  main h1 {
    font-size: 218px;
    line-height: 218px;
  }
}
