body {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  min-width: 256px;
  height: 100%;
  background: linear-gradient(
    var(--color-blue-primary) 90%,
    var(--color-blue-gradient-end)
  );
  border-right: var(--border-width-md) solid var(--color-blue-dark-dashboard);
}

.sidebar.sidebar-open {
  left: 0px;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 83%;
  min-width: 209px;
  height: 58px;
  margin-top: var(--space-7xl); /* 56px */
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--color-text-light);
  background-color: var(--color-blue-dark-dashboard);
  border: var(--border-width-md) solid var(--color-blue-primary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-sm);
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.avatar-circle {
  width: 42px;
  height: 42px;
  margin: 0 var(--space-md);
  background-color: var(--color-text-light);
  border: var(--border-width-sm) solid var(--color-blue-primary);
  border-radius: var(--border-radius-circle);
}

.avatar-circle.orange {
  border: var(--border-width-sm) solid var(--color-orange-primary);
}

.sidebar nav {
  width: 100%;
}

.action-links ul,
.action-modals ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 23px 0;
}

.action-links ul li,
.action-modals ul li {
  width: 70%;
  min-width: 192px;
  margin-bottom: var(--space-sm);
}

.action-links ul li a,
.action-modals ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text-light);
  background-color: var(--color-blue-primary);
  border: var(--border-width-sm) solid var(--color-blue-dark-dashboard);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  transition: var(--transition-bg-border-color);
}

.action-links ul li:last-child a,
.action-modals ul li:last-child button {
  margin-bottom: 0;
}

.action-links ul li a:hover,
.action-modals ul li button:hover {
  background-color: var(--color-blue-dark-dashboard);
  border-color: var(--color-blue-primary);
  cursor: pointer;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 28px;
}

.project-list h3 {
  font-family: var(--font-display);
  font-size: var(--space-lg);
  text-transform: uppercase;
  color: var(--color-text-dark-on-blue);
}

.project-list ul {
  width: 80%;
  min-height: 464px;
  border: var(--border-width-sm) solid var(--color-blue-dark-dashboard);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  overflow-y: scroll;
}

.project-list ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 28px;
  margin: var(--space-sm) auto;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text-light);
  background-color: var(--color-blue-primary);
  border: var(--border-width-sm) solid var(--color-blue-dark-dashboard);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  transition: var(--transition-bg-border-color);
}

.project-list ul li a:hover {
  background-color: var(--color-blue-dark-dashboard);
  border-color: var(--color-blue-primary);
  cursor: pointer;
}

.footer {
  margin-top: auto;
  margin-bottom: var(--space-3xl);
}

.logo-small {
  margin-bottom: var(--space-sm);
  font-family: var(--font-display);
  font-size: var(--space-8xl);
  line-height: var(--space-8xl);
  color: var(--color-blue-dark-dashboard);
  text-align: center;
  text-shadow: var(--text-shadow-blue-small);
}

.footer p {
  font-family: var(--font-primary);
  font-size: 14px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: var(--transition-opacity-visibility);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 512px;
  min-height: 256px;
  font-family: var(--font-primary);
  font-size: var(--space-3xl);
  color: var(--color-text-dark-on-orange);
  background-color: var(--color-orange-primary);
  border: var(--border-width-md) solid var(--color-orange-dark);
  border-radius: var(--border-radius-sm);
}

.modal form label {
  width: 80%;
}

.modal form input {
  width: 80%;
}

.modal form input[type="submit"] {
  margin-bottom: 0;
}

.modal p {
  margin-bottom: var(--space-2xl); /* 22px */
}

#burger-menu-wrapper {
  display: none;
  width: 95%;
  margin: auto;
}

#burger-menu {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: var(--color-orange-primary);
  border: var(--border-width-md) solid var(--color-orange-dark);
  border-radius: var(--border-radius-circle);
  margin: var(--space-xl) 0 0 auto;
}

#burger-menu > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 50%;
}

.burger-menu-line {
  width: 21px;
  border: 2px solid var(--color-orange-dark);
  border-radius: var(--border-radius-sm);
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

#member-list {
  font-family: var(--font-primary);
  background-color: var(--color-orange-primary);
  border: var(--border-width-md) solid var(--color-orange-dark);
  border-radius: var(--border-radius-md);
  width: 512px;
  height: 95%;
}

#member-list h2 {
  font-weight: 400;
  text-align: center;
  margin: var(--space-md) 0 var(--space-3xl) 0;
  color: var(--color-text-dark-on-orange);
}

#member-list > ul {
  width: 82%;
  margin: var(--space-md) auto;
}

#member-list ul > li {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--space-7xl);
  margin: var(--space-sm) 0;
  color: var(--color-text-light);
  background-color: var(--color-orange-dark);
  border: var(--border-width-sm) solid var(--color-orange-primary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-sm);
}

#member-list ul > li > .member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#document {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

#document h2 {
  margin-bottom: var(--space-md);
  font-family: var(--font-primary);
  font-size: var(--space-6xl);
  font-weight: 600;
  color: var(--color-text-dark-on-orange);
}

#document form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#document form textarea {
  width: 100%;
  height: 70vh;
  margin-bottom: var(--space-md);
  padding: var(--space-sm);
  font-family: var(--font-mono);
  font-size: var(--space-xl);
  color: var(--color-text-light);
  background-color: var(--color-orange-dark);
  border: var(--border-width-md) solid var(--color-orange-primary);
  border-radius: var(--border-radius-sm);
}

#document form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  margin-bottom: var(--space-md);
  box-shadow: var(--box-shadow-sm);
}

.modal form > input[type="file"] {
  height: max-content;
  margin: var(--space-md) 0;
  padding: var(--space-md) var(--space-3xl);
  font-family: var(--font-primary);
  font-size: var(--space-xl);
  color: var(--color-text-dark-on-orange);
  background-color: var(--color-orange-primary);
  border: var(--border-width-sm) solid var(--color-orange-dark);
  border-radius: var(--border-radius-sm);
}

input[type="file"]::file-selector-button {
  margin-right: var(--space-xl);
  padding: var(--space-lg) var(--space-lg);
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--space-xl);
  color: var(--color-text-light);
  background-color: var(--color-blue-primary);
  border: var(--border-width-sm) solid var(--color-blue-dark-dashboard);
  border-radius: var(--border-radius-sm);
  transition: var(--transition-bg-border-color);
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color-blue-dark-dashboard);
  border-color: var(--color-blue-primary);
  cursor: pointer;
}

@media only screen and (max-height: 1024px) {
  .project-list ul {
    width: 80%;
    min-height: 128px;
  }
}

@media only screen and (max-width: 1024px) {
  #document {
    width: 512px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-color: var(--color-blue-primary);
    height: 100dvh;
    flex-direction: column;
  }

  .sidebar {
    position: absolute;
    left: -512px;
    transition: left 300ms;
  }

  #burger-menu-wrapper {
    display: block;
  }

  #document {
    width: 95%;
    height: 100%;
  }

  #document h2 {
    font-size: var(--space-3xl);
  }

  #dashboard {
    width: 95%;
  }

  #member-list {
    width: 95%;
  }

  .submit-button {
    width: 128px;
  }
}
